# LaTeX auxiliary files. Keep generated PDFs trackable.
docs/*.aux
docs/*.log
docs/*.out
docs/*.toc
docs/*.synctex.gz

# Lattice Diamond generated implementation/synthesis outputs.
*.alt
*.arearep
*.areasrr
*.asd
*.bgn
*.cam
*.cck
*.db
*.drc
*.edi
*.fse
*.hrr
*.htm
*.html
*.log
*.lsedata
*.mrp
*.ncd
*.ngd
*.ngo
*.pad
*.par
*.prf
*.rpt
*.rptmap
*.srd
*.srf
*.srm
*.srr
*.srs
*.szr
*.t2b
*.twr
*.vdb
*.xck
impl_*.xcf
xflashverify.xcf
*.pt
*.p2t
*.p3t
*.tmp[0-9]*
*_lse_cp_file_list
*_lse_sign_file
*_lse.twr
*_lse_lsetwr.html
*_prim.v
*_synplify*.lpf
.recordref
.build_status
.run_manager.ini
.setting.ini
.vdbs/
dm/
hdr_log
promote.xml
reportview.xml
run_options.txt
scratchproject.prs
stdout.log.bak.*
synlog/
syntmp/
synwork/
xxx_lse_cp_file_list
xxx_lse_sign_file

# Keep programming outputs visible/tracked when intentionally generated.
!*.bit
!*.jed
