
*.lct
*.vho
*.eq*   
*.ini
*.csv
*.abt
*.b2*
*.bl*
*.cmi
*.crf
*.d0
*.dum
*.err
*.fti
*.imp
*.ini
*.ipr
*.lst
*.lci
*.rev
*.sdf
*.sty
*.STY
*.sym
*.tda
*.tt4
*.xrf
*.jhd
*.rs*
*.log
*.lco
*.ppn
*.rpt
*.svl
*.l0*
*.lc_
*.jid
*.env
*.naf
*.sif
*.bak
*.tmp
