BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "fpga_10" IO_TYPE=LVCMOS18 ;
IOBUF PORT "d_10" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "fpga_09" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_11" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_12" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_13" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_14" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_15" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_16" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_17" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_18" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_19" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_20" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_21" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_22" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_23" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_24" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_25" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_26" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_27" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_28" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_29" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_00" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_01" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_02" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_03" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_04" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_05" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_06" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_07" IO_TYPE=LVCMOS18 ;
IOBUF PORT "fpga_08" IO_TYPE=LVCMOS18 ;
IOBUF PORT "d_11" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_12" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_13" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_14" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_15" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_16" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_17" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_18" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_19" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_20" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_21" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_22" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_23" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_24" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_25" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_26" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_27" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_28" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_29" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_00" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_01" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_02" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_03" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_04" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_05" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_06" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_07" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_08" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
IOBUF PORT "d_09" IO_TYPE=LVCMOS33 SLEWRATE=SLOW ;
LOCATE COMP "fpga_00" SITE "PT22A" ;
LOCATE COMP "fpga_01" SITE "PT19B" ;
LOCATE COMP "fpga_02" SITE "PT19A" ;
LOCATE COMP "fpga_27" SITE "PT11B" ;
LOCATE COMP "fpga_26" SITE "PT11A" ;
LOCATE COMP "fpga_25" SITE "PT9B" ;
LOCATE COMP "fpga_24" SITE "PT9A" ;
LOCATE COMP "fpga_28" SITE "PT17A" ;
LOCATE COMP "fpga_29" SITE "PT17B" ;
LOCATE COMP "fpga_22" SITE "PB5A" ;
LOCATE COMP "fpga_23" SITE "PB5B" ;
LOCATE COMP "fpga_20" SITE "PB6A" ;
LOCATE COMP "fpga_21" SITE "PB6B" ;
LOCATE COMP "fpga_11" SITE "PB11A" ;
LOCATE COMP "fpga_12" SITE "PB11B" ;
LOCATE COMP "fpga_13" SITE "PB12A" ;
LOCATE COMP "fpga_14" SITE "PB12B" ;
LOCATE COMP "fpga_09" SITE "PB16B" ;
LOCATE COMP "fpga_10" SITE "PB16A" ;
LOCATE COMP "fpga_07" SITE "PB18A" ;
LOCATE COMP "fpga_08" SITE "PB18B" ;
LOCATE COMP "fpga_06" SITE "PB21A" ;
LOCATE COMP "fpga_05" SITE "PB21B" ;
LOCATE COMP "fpga_04" SITE "PB22A" ;
LOCATE COMP "fpga_03" SITE "PB22B" ;
LOCATE COMP "fpga_15" SITE "PL14A" ;
LOCATE COMP "fpga_16" SITE "PL11A" ;
LOCATE COMP "fpga_17" SITE "PL11B" ;
LOCATE COMP "fpga_18" SITE "PL12A" ;
LOCATE COMP "fpga_19" SITE "PL12B" ;
LOCATE COMP "d_28" SITE "PR1B" ;
LOCATE COMP "d_29" SITE "PR5A" ;
LOCATE COMP "d_27" SITE "PR5B" ;
LOCATE COMP "d_25" SITE "PR6A" ;
LOCATE COMP "d_23" SITE "PR6B" ;
LOCATE COMP "d_21" SITE "PR7A" ;
LOCATE COMP "d_19" SITE "PR7B" ;
LOCATE COMP "d_17" SITE "PR9A" ;
LOCATE COMP "d_15" SITE "PR10A" ;
LOCATE COMP "d_13" SITE "PR10B" ;
LOCATE COMP "d_11" SITE "PR11A" ;
LOCATE COMP "d_09" SITE "PR11B" ;
LOCATE COMP "d_07" SITE "PR12A" ;
LOCATE COMP "d_05" SITE "PR12B" ;
LOCATE COMP "d_03" SITE "PR14A" ;
LOCATE COMP "d_01" SITE "PR14B" ;
LOCATE COMP "d_26" SITE "PL2A" ;
LOCATE COMP "d_24" SITE "PL2B" ;
LOCATE COMP "d_16" SITE "PL3A" ;
LOCATE COMP "d_18" SITE "PL3B" ;
LOCATE COMP "d_22" SITE "PL4A" ;
LOCATE COMP "d_20" SITE "PL4B" ;
LOCATE COMP "d_08" SITE "PL5A" ;
LOCATE COMP "d_10" SITE "PL5B" ;
LOCATE COMP "d_12" SITE "PL7C" ;
LOCATE COMP "d_14" SITE "PL7D" ;
LOCATE COMP "d_06" SITE "PL9A" ;
LOCATE COMP "d_04" SITE "PL9B" ;
LOCATE COMP "d_00" SITE "PL10B" ;
LOCATE COMP "d_02" SITE "PL10A" ;
TRACEID "00000001" ; 
SYSCONFIG SDM_PORT=DISABLE SLAVE_SPI_PORT=ENABLE MCCLK_FREQ=2.08 ;
IOBUF PORT "i2c_scl" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "i2c_sda" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "reqsafestate" SITE "PT24D" ;
LOCATE COMP "pilot_in" SITE "PR3A" ;
IOBUF PORT "pilot_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "reqsafestate" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "reqoe" SITE "PT20C" ;
IOBUF PORT "reqoe" IO_TYPE=LVCMOS18 ;
LOCATE COMP "slotok" SITE "PT20D" ;
IOBUF PORT "slotok" IO_TYPE=LVCMOS18 ;
LOCATE COMP "carrierrdy" SITE "PT24C" ;
IOBUF PORT "carrierrdy" IO_TYPE=LVCMOS18 ;
