BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "PG_VIN" SITE "27" ;
LOCATE COMP "TDnALERT" SITE "43" ;
LOCATE COMP "TDnFFnFS" SITE "42" ;
LOCATE COMP "FP_SysLEDs" SITE "40" ;
LOCATE COMP "FP_UsrLED[1]" SITE "35" ;
LOCATE COMP "FP_UsrLED[2]" SITE "34" ;
LOCATE COMP "FP_UsrLED[3]" SITE "30" ;
LOCATE COMP "FP_UsrLED[4]" SITE "29" ;
LOCATE COMP "DIG_24_Ch5" SITE "12" ;
LOCATE COMP "DIG_25_Ch5" SITE "13" ;
LOCATE COMP "DIG_26_Ch5" SITE "14" ;
LOCATE COMP "DIG_27_Ch5" SITE "15" ;
LOCATE COMP "DIG_28_Ch5" SITE "16" ;
LOCATE COMP "DIG_29_Ch5" SITE "17" ;
LOCATE COMP "DIG_00_Ch5" SITE "18" ;
LOCATE COMP "DIG_01_Ch5" SITE "19" ;
LOCATE COMP "DIG_02_Ch5" SITE "20" ;
LOCATE COMP "DIG_03_Ch5" SITE "21" ;
LOCATE COMP "DIG_04_Ch5" SITE "24" ;
LOCATE COMP "DIG_05_Ch5" SITE "25" ;
LOCATE COMP "X13_E2C_M62" SITE "99" ;
LOCATE COMP "X13_E2C_M59" SITE "88" ;
LOCATE COMP "X13_E2C_M58" SITE "87" ;
LOCATE COMP "X13_E2C_M55" SITE "84" ;
LOCATE COMP "X13_E2C_M54" SITE "81" ;
IOBUF PORT "PG_VIN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TDnALERT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TDnFFnFS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "TDnSHDN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_SysLEDs" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrLED[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrLED[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrLED[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrLED[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "S2C_FlexIO_IO3" IO_TYPE=LVCMOS18 ;
IOBUF PORT "S2C_FlexIO_IO4" IO_TYPE=LVCMOS18 ;
IOBUF PORT "S2C_FlexIO_IO5" IO_TYPE=LVCMOS18 ;
IOBUF PORT "S2C_FlexIO_IO6" IO_TYPE=LVCMOS18 ;
IOBUF PORT "S2C_FlexIO_IO7" IO_TYPE=LVCMOS18 ;
IOBUF PORT "DIG_24_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_25_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_26_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_27_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_28_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_29_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_00_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_01_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_02_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_03_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_04_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "DIG_05_Ch5" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "X13_E2C_M54" IO_TYPE=LVCMOS33 ;
IOBUF PORT "X13_E2C_M55" IO_TYPE=LVCMOS33 ;
IOBUF PORT "X13_E2C_M58" IO_TYPE=LVCMOS33 ;
IOBUF PORT "X13_E2C_M59" IO_TYPE=LVCMOS33 ;
IOBUF PORT "X13_E2C_M62" IO_TYPE=LVCMOS33 ;
LOCATE COMP "TDnSHDN" SITE "41" ;
SYSCONFIG SLAVE_SPI_PORT=ENABLE I2C_PORT=ENABLE SDM_PORT=DONE MCCLK_FREQ=7 JTAG_PORT=DISABLE ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 1.8 V;
BANK 4 VCCIO 1.8 V;
TRACEID "00101010" ; 
USERCODE HEX "CAFE1DEA" ; 
LOCATE COMP "Xc1_CollFlt" SITE "65" ;
IOBUF PORT "Xc1_CollFlt" IO_TYPE=LVCMOS33 ;
IOBUF PORT "S2C_FlexIO_IO0" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "S2C_FlexIO_IO1" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
IOBUF PORT "S2C_FlexIO_IO2" IO_TYPE=LVCMOS18 PULLMODE=NONE ;
LOCATE COMP "S2C_FlexIO_IO0" SITE "1" ;
LOCATE COMP "S2C_FlexIO_IO1" SITE "2" ;
LOCATE COMP "S2C_FlexIO_IO2" SITE "3" ;
LOCATE COMP "S2C_FlexIO_IO3" SITE "4" ;
LOCATE COMP "S2C_FlexIO_IO4" SITE "7" ;
LOCATE COMP "S2C_FlexIO_IO5" SITE "8" ;
LOCATE COMP "S2C_FlexIO_IO6" SITE "9" ;
LOCATE COMP "S2C_FlexIO_IO7" SITE "10" ;
LOCATE COMP "SPI0_SelnSYSUSRnCS" SITE "45" ;
IOBUF PORT "SPI0_SelnSYSUSRnCS" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrSW1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrSW2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FP_UsrSW3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PPn_VIN" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RTC_FOUT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "S2C_S2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "S2C_S3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "X13_C2E_M52" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X13_C2E_M53" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X13_C2E_M56" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X13_C2E_M57" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X13_C2E_M60" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X13_C2E_M61" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X13_FP2x_ESt" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Xc1_CS_A1" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Xc1_CS_A2" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Xc1_CS_A3" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Xc1_MOSI" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Xc1_PSANL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "Xc1_SPICLK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "FP_UsrSW1" SITE "38" ;
LOCATE COMP "FP_UsrSW2" SITE "37" ;
LOCATE COMP "FP_UsrSW3" SITE "39" ;
LOCATE COMP "PPn_VIN" SITE "28" ;
LOCATE COMP "RTC_FOUT" SITE "63" ;
LOCATE COMP "S2C_S2" SITE "62" ;
LOCATE COMP "S2C_S3" SITE "61" ;
LOCATE COMP "X13_C2E_M52" SITE "75" ;
LOCATE COMP "X13_C2E_M53" SITE "77" ;
LOCATE COMP "X13_C2E_M56" SITE "78" ;
LOCATE COMP "X13_C2E_M57" SITE "83" ;
LOCATE COMP "X13_C2E_M60" SITE "96" ;
LOCATE COMP "X13_C2E_M61" SITE "97" ;
LOCATE COMP "X13_FP2x_ESt" SITE "98" ;
LOCATE COMP "Xc1_CS_A1" SITE "69" ;
LOCATE COMP "Xc1_CS_A2" SITE "70" ;
LOCATE COMP "Xc1_CS_A3" SITE "68" ;
LOCATE COMP "Xc1_MOSI" SITE "71" ;
LOCATE COMP "Xc1_PSANL" SITE "64" ;
LOCATE COMP "Xc1_SPICLK" SITE "74" ;
LOCATE COMP "FP_UsrSW4" SITE "36" ;
IOBUF PORT "FP_UsrSW4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS33 ;
