LOCATE COMP "Carrier_PwrOn" SITE "1";
IOBUF PORT "Carrier_PwrOn" IO_TYPE=LVCMOS33;
LOCATE COMP "ANL_S3C_CarrierReady" SITE "24";
IOBUF PORT "ANL_S3C_CarrierReady" IO_TYPE=LVCMOS33;
LOCATE COMP "DIGS3C_Shared_CarrierReady" SITE "94";
IOBUF PORT "DIGS3C_Shared_CarrierReady" IO_TYPE=LVCMOS18;
LOCATE COMP "DIGS3C_Shared_ReqSafeState" SITE "93";
IOBUF PORT "DIGS3C_Shared_ReqSafeState" IO_TYPE=LVCMOS18;
LOCATE COMP "DIGS3C_SlotD1_SlotOE" SITE "92";
IOBUF PORT "DIGS3C_SlotD1_SlotOE" IO_TYPE=LVCMOS18;
LOCATE COMP "DIGS3C_SlotD2_SlotOE" SITE "89";
IOBUF PORT "DIGS3C_SlotD2_SlotOE" IO_TYPE=LVCMOS18;
LOCATE COMP "DIGS3C_SlotD3_SlotOE" SITE "86";
IOBUF PORT "DIGS3C_SlotD3_SlotOE" IO_TYPE=LVCMOS18;
LOCATE COMP "DIGS3C_SlotD4_SlotOE" SITE "84";
IOBUF PORT "DIGS3C_SlotD4_SlotOE" IO_TYPE=LVCMOS18;
LOCATE COMP "DIGS3C_SlotD5_SlotOE" SITE "82";
IOBUF PORT "DIGS3C_SlotD5_SlotOE" IO_TYPE=LVCMOS18;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 1.8 V;
BANK 2 VCCIO 1.8 V;
BANK 3 VCCIO 1.8 V;
BANK 4 VCCIO 3.3 V;
BANK 5 VCCIO 3.3 V;
SYSCONFIG SLAVE_SPI_PORT=ENABLE I2C_PORT=DISABLE;
