COMMERCIAL ;
BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "scl_in" 15.000000 MHz PAR_ADJ 5.000000 ;
FREQUENCY PORT "sda_in" 5.000000 MHz ;
IOBUF PORT "scl_in" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
IOBUF PORT "sda_in" IO_TYPE=LVCMOS25 PULLMODE=NONE ;
